.front { font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
     color: rgb(255, 0, 0);
    word-spacing : 10px;
    
    font-size: 55px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 700; line-height: 40.7px; 
} 

.frontalign {
    vertical-align: middle;
    text-align : center;
    
}


a:hover {
    cursor:pointer;
   }

.myComponent {
    height : calc(97vh);
}

.aboutComponent {
    height : calc(80vh);
}

.ifram {
    max-width: 100%;
    align : center;
    position : relative;
    width : 1px;
    min-width : 100%;
    width : 100px;
    height : 1px;
    min-height : 100%;
    height : 200px;
    
}

.toolsComponent {
    height : calc(65vh);
}

.componentHeading {
    font-size : 40px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align : center;
}

.abouthisComponent{
    width : 100%;
}

.aboutthisHeading {
    font-size : 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align : center;
    padding-top: 40px;
    font-weight: 650;
}

.aboutthis {
    font-size : 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align : left;
    padding-right: 5%;
    padding-left: 5%;
}

.frontBgImage {
    height: 100%;
    padding-top : 10px;
    width : auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frontImage {
    background-image: url('Snapseed.jpg'); 
}
@media only screen and (min-width: 600px){
    .frontImage{
        background-image: url("IMG_2489.jpg");
    }
    .frontalign{
        padding-top: 50px;
        text-align : left;
        margin-left: 35px;

    }
}

.frontText {
    color : white;
    padding-top : 250px;
}


.centerAlign {
    text-align : center;
    margin: auto;
}

.aboutImg {
    border: 0px solid #ddd;
    border-radius: 0px;
    padding-top: 20px;
    max-width: 60%;
    height: auto;

}

.projectImg {
    width: 100%;
    height: 40%;
    

    margin: auto;

}

.aboutButton {
    color : white;
   background-color: rgb(63, 62, 62);
   width : 100px;
   
}
.active {
    border : 2px red;
    opacity: 1;
}
.notactive {
    opacity: 0.6;
    
}

.aboutButton:hover {
    radius: blue;

}

.toolsBg {
    background : rgb(255, 102, 0);

}

.toolsPadding {
    padding-left : 100px;
    height : 140%;
    max-width : 80%;
}

.toolsCard {
    max-width : 80%;
    height : 180%;
    align : center;
    }

.toolIcons {
    font-size : 40px;
    }

.toolImg {
    height : 60px;
    align : center;
    margin-top: -42px;
}

.projectsBg {
    background: rgb(59, 59, 59);
    }

.contactForm {
    width :90%;margin: auto;
    }

.contactCard {
    width :90%;
    height : 35%;
    margin: auto;
   
    }

.contactSocials {
    max-width :90%;
    height : 15%;
    margin: auto;
    }

.contactSocialIcons {
    padding-left: 50px;
}

    .fa {
        padding: 5px;
        font-size: 18px;
        width: 25px;
        height : 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    .fa-linkedin {
        background: rgb(40, 88, 192);
        color: white;
    }
    .fa-google {
        background: rgb(219, 16, 16);
        color: white;
    }
    .fa-skype {
        background: rgb(27, 119, 240);
        color: white;
    }
    
    .fa-github {
        background: rgb(5, 5, 5);
        color: white;
    }
.loading {
    display: block;
    margin: 0 auto;
    color:white;
    align:center;
}


